<!DOCTYPE html>
<html>
<head>
    <title>The Salon</title>
</head>
<body>
    <h1>Welcome to The Salon</h1>

    <p><a href="/stylists">Click here</a> to see all of the stylists</p>
    <p><a href="/clients">Click here</a> to see all of the clients, and add yourself!</p>

</body>
</html>
