<html>
<head>
    <title>Salon</title>
</head>
<body>
    <h1>Stylists</h1>

    {% if stylists is not empty %}
        <p>Here are all our stylists!:</p>
        <ul>
            {% for stylist in stylists %}
                <li>{{ stylist.getName }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action='/stylists' method='post'>
        <label for='name'>Stylist name</label>
        <input id='name' name='name' type='text'>

        <button type='submit'>Add a stylist!</button>
    </form>
    <form action='/delete_categories' method='post'>
        <button type='submit'>Clear</button>
    </form>

    <p><a href='/'>Home</a></p>
</body>
</html>
